body {
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}
ol {
    text-align: center;
}
a {
    color: black;
}
a:hover {
    color: blue;
}
img {
    width: 50%;
        object-fit: cover;
        height: 300px;
        border-radius: 5px;
        box-shadow: 4px 5px rgb(128, 119, 119);
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.pictures {
display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.mail {
        text-align: center;
}
.home {
    text-align: center;
}